* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    height: 100%;
}
body {
    background-color: #f0f0de;
    height: 100%;
}

#root {
    height: 100%;
}

header, main {
    margin: 30px auto;
    width: 90%;
    max-width: 600px;
}

header > * {
    display: inline-block;
    vertical-align: bottom;
}

header > img {
    width: 80px;
    border-radius: 40px;
    overflow: hidden;
}

header > h1 {
    margin-left: 20px;
    font-size: 50px;
}

#info {
    padding: 20px;
    background-color: #f2ff98;
    border: 1px solid #cdcd0f;
}

#info > h3 {
    margin-bottom: 10px;
}

button, input[type="submit"] {
    padding: 10px 20px;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    cursor: pointer;
}

button {
    margin-bottom: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #aeaeae;
}

form {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}

form > h2 {
    margin-bottom: 10px;
}

input[type="submit"] {
    font-size: 20px;
    background-color: #ffff6f;
    border: 1px solid #cdcd0f;
}

.wallet-adapter-button-trigger { 
    color: black !important;
    background-color: white !important; 
    padding: 10px 20px;
    margin: 30px 0px 10px 0px;
    font-size: 16px;
    border: 1px solid #aeaeae !important;
    border-radius: 6px !important;
    cursor: pointer;
} 
.wallet-adapter-button { 
    font-family: inherit !important; 
} 
